/* titulo */
[data-theme="dark"] h3 {
    color: var(--color-light-50);
}

/* img inicio */
.zoom2 {
    overflow: hidden;
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.zoom2 img {
    max-width: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

/* subtopicos */
.corsub {
    color: #abacad;
    padding-bottom: 15px;
}

.subtopico {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* modal */
.btn1 {
    background-color: #49b199;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
}

.btntitle {
    color: black;
}

/* uls */
[data-theme="dark"] .ul {
    color: #fff;
}

/* TOPICO 02 */

/* alerta */
.alert {
    background-color: #ffe033;
    padding: 4px;
}

/* accondion sem ANIMAÇÃO */
.accordion-body {
    background-color: rgb(240, 238, 238);
    border-top: none;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    margin-left: 5px;
    border: none;
}

.accordion-button {
    background-color: #e5e7e7;
    --bs-accordion-active-bg: rgb(240, 238, 238);
    --bs-accordion-btn-icon-bg: var(--white);
}

.sem-borda {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.uls-accordion li {
    padding: 0.5em;
}

/* CAIXAS COM CONTEÚDO */

.cx-conteudo {
    background-color: #56b6f7;
    color: white;
    border: none;
}

[data-theme="dark"] .cx-conteudo {
    background-color: #2db39e;

}

.icone-cx {
    color: #477391;
}

[data-theme="dark"] .icone-cx {
    color: #015a31;
}

/* segunda caixa */

.cx-header {
    padding-top: 1em;
}

/* TOPICO 03 */

th {
    font-weight: lighter;
}

tr,
td,
th {
    border: 1px solid #115f3b;
}

.tr-th{
    background-color: #015a31;
}